In [1]:
import pandas as pd

In [2]:
emp_list = [(1,'Roshan','17/10/1993','Ngpur'),
           (2,'Rakesh','15/3/1996','Tumsar'),
           (3,'Ajay','15/08/1998','Pune'),
           (4,'Amit','11/10/1947','Mumbai'),
           (5,'Akshay','14/05/1670','Gujrat')]

In [3]:
df = pd.DataFrame(emp_list,columns=['Id','Name','DOB','City'])

In [4]:
df

   Id    Name         DOB    City
0   1  Roshan  17/10/1993   Ngpur
1   2  Rakesh   15/3/1996  Tumsar
2   3    Ajay  15/08/1998    Pune
3   4    Amit  11/10/1947  Mumbai
4   5  Akshay  14/05/1670  Gujrat

In [5]:
df.to_csv('emp_list')

In [6]:
e_dict = [{'Name':'A','Salary':65000,'Designation':'AE','City':'Mumbai'},
         {'Name':'B','Salary':75000,'Designation':'JE','City':'Nagpur'},
         {'Name':'C','Salary':55000,'Designation':'GET','City':'Banglore'},
         {'Name':'D','Salary':49000,'Designation':'Manager','City':'Pune'},
         {'Name':'E','Salary':40000,'Designation':'HOD','City':'Kolkata'},]

In [7]:
df1 = pd.DataFrame(e_dict)

In [8]:
df1

  Name  Salary Designation      City
0    A   65000          AE    Mumbai
1    B   75000          JE    Nagpur
2    C   55000         GET  Banglore
3    D   49000     Manager      Pune
4    E   40000         HOD   Kolkata

In [9]:
df2 = pd.read_html('https://www.worldometers.info/world-population/georgia-population/')[1]  # web scrapping-Read Html page and fetch 2nd table by index 1.

In [10]:
df2

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/KmÂ²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Georgia Global Rank
0,2020,3989167,-0.19 %,-7598,-10000,38.3,2.06,57,58.1 %,2317778,0.05 %,7794798739,132
1,2019,3996765,-0.15 %,-6177,-10000,37.8,2.01,58,57.7 %,2305017,0.05 %,7713468100,132
2,2018,4002942,-0.14 %,-5774,-10000,37.8,2.01,58,57.2 %,2290836,0.05 %,7631091040,132
3,2017,4008716,-0.17 %,-6734,-10000,37.8,2.01,58,56.8 %,2278042,0.05 %,7547858925,132
4,2016,4015450,-0.22 %,-8733,-10000,37.8,2.01,58,56.5 %,2270328,0.05 %,7464022049,131
5,2015,4024183,-0.37 %,-14983,-19068,37.7,2.00,58,56.4 %,2270087,0.05 %,7379797139,130
6,2010,4099099,-0.53 %,-22214,-23962,37.0,1.80,59,57.3 %,2350051,0.06 %,6956823603,125
7,2005,4210168,-0.71 %,-30404,-29667,35.9,1.58,61,57.1 %,2405012,0.06 %,6541907027,121
8,2000,4362187,-2.60 %,-122815,-130719,34.7,1.72,63,57.0 %,2485610,0.07 %,6143493823,117
9,1995,4976260,-1.66 %,-86828,-118371,32.8,2.05,72,54.3 %,2702829,0.09 %,5744212979,106
10,1990,5410399,0.75 %,39789,-8732,31.0,2.26,78,55.0 %,2977765,0.10 %,5327231061,97
11,1985,5211454,0.76 %,38724,-9565,29.8,2.27,75,54.2 %,2824275,0.11 %,4870921740,95
12,1980,5017833,0.58 %,28839,-19089,29.1,2.39,72,52.5 %,2634184,0.11 %,4458003514,93
13,1975,4873639,0.67 %,32059,-14685,28.5,2.60,70,50.3 %,2453577,0.12 %,4079480606,91
14,1970,4713342,1.52 %,68363,17040,28.2,2.80,68,48.0 %,2262693,0.13 %,3700437046,84
15,1965,4371527,1.75 %,72761,19257,28.0,2.93,63,45.5 %,1990518,0.13 %,3339583597,82
16,1960,4007723,1.54 %,58918,13637,27.8,2.91,58,43.1 %,1726097,0.13 %,3034949748,84
17,1955,3713133,1.03 %,37225,8976,27.4,2.75,53,40.1 %,1487723,0.13 %,2773019936,82

In [11]:
df2.to_excel('Georgia_Population.xlsx')

In [12]:
df3 = pd.read_excel('Georgia_Population.xlsx')

In [13]:
df3

,Unnamed: 0,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/KmÂ²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,Georgia Global Rank
0,0,2020,3989167,-0.19 %,-7598,-10000,38.3,2.06,57,58.1 %,2317778,0.05 %,7794798739,132
1,1,2019,3996765,-0.15 %,-6177,-10000,37.8,2.01,58,57.7 %,2305017,0.05 %,7713468100,132
2,2,2018,4002942,-0.14 %,-5774,-10000,37.8,2.01,58,57.2 %,2290836,0.05 %,7631091040,132
3,3,2017,4008716,-0.17 %,-6734,-10000,37.8,2.01,58,56.8 %,2278042,0.05 %,7547858925,132
4,4,2016,4015450,-0.22 %,-8733,-10000,37.8,2.01,58,56.5 %,2270328,0.05 %,7464022049,131
5,5,2015,4024183,-0.37 %,-14983,-19068,37.7,2.00,58,56.4 %,2270087,0.05 %,7379797139,130
6,6,2010,4099099,-0.53 %,-22214,-23962,37.0,1.80,59,57.3 %,2350051,0.06 %,6956823603,125
7,7,2005,4210168,-0.71 %,-30404,-29667,35.9,1.58,61,57.1 %,2405012,0.06 %,6541907027,121
8,8,2000,4362187,-2.60 %,-122815,-130719,34.7,1.72,63,57.0 %,2485610,0.07 %,6143493823,117
9,9,1995,4976260,-1.66 %,-86828,-118371,32.8,2.05,72,54.3 %,2702829,0.09 %,5744212979,106
10,10,1990,5410399,0.75 %,39789,-8732,31.0,2.26,78,55.0 %,2977765,0.10 %,5327231061,97
11,11,1985,5211454,0.76 %,38724,-9565,29.8,2.27,75,54.2 %,2824275,0.11 %,4870921740,95
12,12,1980,5017833,0.58 %,28839,-19089,29.1,2.39,72,52.5 %,2634184,0.11 %,4458003514,93
13,13,1975,4873639,0.67 %,32059,-14685,28.5,2.60,70,50.3 %,2453577,0.12 %,4079480606,91
14,14,1970,4713342,1.52 %,68363,17040,28.2,2.80,68,48.0 %,2262693,0.13 %,3700437046,84
15,15,1965,4371527,1.75 %,72761,19257,28.0,2.93,63,45.5 %,1990518,0.13 %,3339583597,82
16,16,1960,4007723,1.54 %,58918,13637,27.8,2.91,58,43.1 %,1726097,0.13 %,3034949748,84
17,17,1955,3713133,1.03 %,37225,8976,27.4,2.75,53,40.1 %,1487723,0.13 %,2773019936,82

In [14]:
df4 = pd.read_html('https://www.worldometers.info/world-population/india-population/')[1]

In [15]:
df4

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/KmÂ²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,India Global Rank
0,2020,1380004385,0.99 %,13586631,-532687,28.4,2.24,464,35.0 %,483098640,17.70 %,7794798739,2
1,2019,1366417754,1.02 %,13775474,-532687,27.1,2.36,460,34.5 %,471828295,17.71 %,7713468100,2
2,2018,1352642280,1.04 %,13965495,-532687,27.1,2.36,455,34.1 %,460779764,17.73 %,7631091040,2
3,2017,1338676785,1.07 %,14159536,-532687,27.1,2.36,450,33.6 %,449963381,17.74 %,7547858925,2
4,2016,1324517249,1.10 %,14364846,-532687,27.1,2.36,445,33.2 %,439391699,17.75 %,7464022049,2
5,2015,1310152403,1.20 %,15174247,-470015,26.8,2.40,441,32.7 %,429069459,17.75 %,7379797139,2
6,2010,1234281170,1.47 %,17334249,-531169,25.1,2.80,415,30.8 %,380744554,17.74 %,6956823603,2
7,2005,1147609927,1.67 %,18206876,-377797,23.8,3.14,386,29.1 %,334479406,17.54 %,6541907027,2
8,2000,1056575549,1.85 %,18530592,-136514,22.7,3.48,355,27.6 %,291350282,17.20 %,6143493823,2
9,1995,963922588,1.99 %,18128958,-110590,21.8,3.83,324,26.5 %,255558824,16.78 %,5744212979,2
10,1990,873277798,2.17 %,17783558,9030,21.1,4.27,294,25.5 %,222296728,16.39 %,5327231061,2
11,1985,784360008,2.33 %,17081433,115942,20.6,4.68,264,24.3 %,190321782,16.10 %,4870921740,2
12,1980,698952844,2.32 %,15169989,222247,20.2,4.97,235,23.0 %,160941941,15.68 %,4458003514,2
13,1975,623102897,2.33 %,13582621,421208,19.7,5.41,210,21.3 %,132533810,15.27 %,4079480606,2
14,1970,555189792,2.15 %,11213294,-68569,19.3,5.72,187,19.7 %,109388950,15.00 %,3700437046,2
15,1965,499123324,2.07 %,9715129,-17078,19.6,5.89,168,18.7 %,93493844,14.95 %,3339583597,2
16,1960,450547679,1.91 %,8133417,-30805,20.2,5.90,152,17.9 %,80565723,14.85 %,3034949748,2
17,1955,409880595,1.72 %,6711079,-21140,20.7,5.90,138,17.6 %,71958495,14.78 %,2773019936,2

In [16]:
df4.to_csv('India_Population')

In [17]:
df5 = pd.read_csv('India_Population')

In [18]:
df6 = pd.read_csv(r"C:\Users\Roshan B\Desktop\ML\Dataset\Spotify_Youtube.csv")

In [19]:
df6

,Unnamed: 0,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,Key,...,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream
0,0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,6.0,...,https://www.youtube.com/watch?v=HyHNuVaZJ-k,Gorillaz - Feel Good Inc. (Official Video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,True,True,1.040235e+09
1,1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,8.0,...,https://www.youtube.com/watch?v=yYDmaexVHic,Gorillaz - Rhinestone Eyes [Storyboard Film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,True,True,3.100837e+08
2,2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,1.0,...,https://www.youtube.com/watch?v=qJa-VFwPpYA,Gorillaz - New Gold ft. Tame Impala & Bootie B...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,True,True,6.306347e+07
3,3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,2.0,...,https://www.youtube.com/watch?v=04mfKJWDSzI,Gorillaz - On Melancholy Hill (Official Video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,True,True,4.346636e+08
4,4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,10.0,...,https://www.youtube.com/watch?v=1V_xRb0x9aw,Gorillaz - Clint Eastwood (Official Video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,True,True,6.172597e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20713,20713,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,single,spotify:track:0RtcKQGyI4hr8FgFH1TuYG,0.582,0.926,5.0,...,https://www.youtube.com/watch?v=5SHmKFKlNqI,JUST DANCE HARDSTYLE,SICK LEGEND - Topic,71678.0,1113.0,0.0,Provided to YouTube by Routenote\n\nJUST DANCE...,True,True,9.227144e+06
20714,20714,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,single,spotify:track:3rHvPA8lUnPBkaLyPOc0VV,0.531,0.936,4.0,...,https://www.youtube.com/watch?v=ocTH6KxllDQ,SET FIRE TO THE RAIN HARDSTYLE,SICK LEGEND - Topic,164741.0,2019.0,0.0,Provided to YouTube by Routenote\n\nSET FIRE T...,True,True,1.089818e+07
20715,20715,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,single,spotify:track:4jk00YxPtPbhvHJE9N4ddv,0.443,0.830,4.0,...,https://www.youtube.com/watch?v=5wFhE-HY0hg,OUTSIDE HARDSTYLE SPED UP,SICK LEGEND - Topic,35646.0,329.0,0.0,Provided to YouTube by Routenote\n\nOUTSIDE HA...,True,True,6.226110e+06
20716,20716,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,single,spotify:track:5EyErbpsugWliX006eTDex,0.417,0.767,9.0,...,https://www.youtube.com/watch?v=VMFLbFRNCn0,ONLY GIRL HARDSTYLE,SICK LEGEND - Topic,6533.0,88.0,0.0,Provided to YouTube by Routenote\n\nONLY GIRL ...,True,True,6.873961e+06
20717,20717,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,single,spotify:track:6lOn0jz1QpjcWeXo1oMm0k,0.498,0.938,6.0,...,https://www.youtube.com/watch?v=zau0dckCFi0,MISS YOU HARDSTYLE,SICK LEGEND - Topic,158697.0,2484.0,0.0,Provided to YouTube by Routenote\n\nMISS YOU H...,True,True,5.695584e+06

In [20]:
df6.to_excel('Tracks.xlsx')

C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://www.youtube.com/watch?v=ME9XpnQiU-8
And%20I%20heard%20as%20it%20were%20the%20noise%20of%20thunder%20
One%20of%20the%20four%20beasts%20saying%20come%20and%20see%20and%20I%20saw
And%20behold%20a%20white%20horse

There's%20a%20man%20going%20around%20taking%20names%20
And%20he%20decides%20who%20to%20free%20and%20who%20to%20blame
Everybody%20won't%20be%20treated%20all%20the%20same
There'll%20be%20a%20golden%20ladder%20reaching%20down
When%20the%20Man%20comes%20around

The%20hairs%20on%20your%20arm%20will%20stand%20up%20
At%20the%20terror%20in%20each%20sip%20and%20in%20each%20sup
Will%20you%20partake%20of%20that%20last%20offered%20cup?
Or%20disappear%20into%20the%20potter's%20ground
When%20the%20Man%20comes%20around

Hear%20the%20trumpets,%20hear%20the%20pipers
One%20hundred%20million%20angels%20singing
Multitudes%20are%20marching%20to%20the%20big%20kettledrum
Voices%20calling,%20voices%20crying
Some%20are%20born%20and%20some%20are%20dying
It's%20Alpha%20and%20Omega's%20kingdom%20come

And%20the%20whirlwind%20is%20in%20the%20thorn%20tree
The%20virgins%20are%20all%20trimming%20their%20wicks
The%20whirlwind%20is%20in%20the%20thorn%20tree
It's%20hard%20for%20thee%20to%20kick%20against%20the%20pricks

Till%20Armageddon%20no%20shalam,%20no%20shalom
Then%20the%20father%20hen%20will%20call%20his%20chickens%20home
The%20wise%20man%20will%20bow%20down%20before%20the%20throne
And%20at%20His%20feet%20they'll%20cast%20their%20golden%20crowns
When%20the%20Man%20comes%20around

Whoever%20is%20unjust%20let%20him%20be%20unjust%20still
Whoever%20is%20righteous%20let%20him%20be%20righteous%20still
Whoever%20is%20filthy%20let%20him%20be%20filthy%20still
Listen%20to%20the%20words%20long%20written%20down
When%20the%20Man%20comes%20around

Hear%20the%20trumpets,%20hear%20the%20pipers%20
One%20hundred%20million%20angels%20singing
Multitudes%20are%20marching%20to%20the%20big%20kettledrum
Voices%20calling%20and%20voices%20crying
Some%20are%20born%20and%20some%20are%20dying
It's%20Alpha%20and%20Omega's%20kingdom%20come

And%20the%20whirlwind%20is%20in%20the%20thorn%20tree
The%20virgins%20are%20all%20trimming%20their%20wicks
The%20whirlwind%20is%20in%20the%20thorn%20tree
It's%20hard%20for%20thee%20to%20kick%20against%20the%20pricks

In%20measured%20hundred%20weight%20and%20penney%20pound
When%20the%20Man%20comes%20around.

Close%20(Spoken%20part)
And%20I%20heard%20a%20voice%20in%20the%20midst%20of%20the%20four%20beasts
And%20I%20looked%20and%20behold,%20a%20pale%20horse
And%20his%20name%20that%20sat%20on%20him%20was%20Death
And%20Hell%20followed%20with%20him.' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://jimmieallen.lnk.to/bettiejamesgold

Connect%20with%20Jimmie:
%20
https://www.jimmieallenmusic.com/
https://www.facebook.com/jimmieallenmusic/
https://www.instagram.com/jimmieallen/
https://twitter.com/JimmieAllen
%20
Subscribe%20to%20Jimmieâs%20channel%20here:%20https://jimmieallen.lnk.to/ytchnlsubscribe
%20
LYRICS:%20
%20SUNSET%20THROUGH%20A%20WINDSHIELD%20I%20CAN%20SEE%20IT%20NOW
LIKE%20A%20PICTURE%20IN%20A%20FRAME%20
BLUE%20JEANS%20AND%20T-SHIRTS%20-%20WHO%20WE%20WERE,%20WE%20WORE%20IT%20LIKE%20A%20NAME
I%20WISH%20I%20COULD%20GO%20BACK%20TO%20THOSE%20DAYS%20WHEN
%20
THAT%20TOWN%20WAS%20THE%20WHOLE%20WORLD%20-%20LOVE%20WAS%20THE%20GIRL%20NEXT%20DOOR%20
SOUNDTRACK%20WAS%20A%20SONG%20IN%20THE%20DARK
I%20MISS%20THOSE%20DAYS%20WHEN%20OUR%20DREAMS%20WERE%20THERE%20FOR%20CHASIN'
BUT%20TIME%20WAS%20BETTER%20WASTED
WE%20WERE%20SUMMER%20YOUNG%20AND%20LIVIN'%20FOR%20A%20FRIDAY
AND%20FREEDOM%20WAS%20A%20HIGHWAY%20
FREEDOM%20WAS%20A%20HIGHWAY%20
%20
BARBWIRE%20ON%20AFENCE-POSTS%20WITH%20A%20CROSS-WIND%20
ON%20A%20ROAD%20NO%20ONE%20WAS%20ON%20
FIVE-DEEP%20WITH%20OUR%20HANDS%20UP%20JUST%20SINGIN'%20ALONG%20TO%20A%20HIP%20HOP%20SONG
I%20WISH%20I%20COULD%20REWIND%20AND%20REPLAY%20WHEN%20
%20
THE%20TOWN%20WAS%20THE%20WHOLE%20WORLD%20-%20LOVE%20WAS%20THE%20GIRL%20NEXT%20DOOR%20
SOUNDTRACK%20WAS%20A%20SONG%20IN%20THE%20DARK
I%20MISS%20THOSE%20DAYS%20WHEN%20OUR%20DREAMS%20WERE%20THERE%20FOR%20CHASIN'
BUT%20TIME%20WAS%20BETTER%20WASTED
WE%20WERE%20SUMMER%20YOUNG%20AND%20LIVIN'%20FOR%20A%20FRIDAY
AND%20FREEDOM%20WAS%20A%20HIGHWAY%20
FREEDOM%20WAS%20A%20HIGHWAY%20
%20
WHEN%20YOU'RE%2017%20AND%20DRIVIN'%20YOU%20DON'T%20THINK%20ABOUT%20THE%20ROAD%20RUNNIN'%20OUT
NO,%20NO,%20NO,%20NO
YOU%20JUST%20SET%20YOUR%20EYES%20ON%20THAT%20HORIZON%20CUZ%20YOU'RE%20WRAPPED%20UP%20IN%20THE%20NOW%20
%20
BUT%20I%20WISH%20I%20COULD%20GO%20BACK%20TO%20THOSE%20DAYS%20WHEN%20
THE%20TOWN%20WAS%20THE%20WHOLE%20WORLD%20-%20LOVE%20WAS%20THE%20GIRL%20NEXT%20DOOR%20
SOUNDTRACK%20WAS%20A%20SONG%20IN%20THE%20DARK
I%20MISS%20THOSE%20DAYS%20WHEN%20OUR%20DREAMS%20WERE%20THERE%20FOR%20CHASIN'
BUT%20TIME%20WAS%20BETTER%20WASTED
WE%20WERE%20SUMMER%20YOUNG%20AND%20LIVIN'%20FOR%20A%20FRIDAY
AND%20FREEDOM%20WAS%20A%20HIGHWAY%20%20
FREEDOM%20WAS%20A%20HIGHWAY%20%20
FREEDOM%20WAS%20A%20HIGHWAY,%20BABY
FREEDOM%20WAS%20A%20HIGHWAY%20%20
FREEDOM%20WAS%20A%20HIGHWAY%20%20
FREEDOM%20WAS%20A%20HIGHWAY%20%20
%20
' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'http://www.discogs.com/Mos-Def-The-New-Danger/master/150397
Album:%20The%20New%20Danger
Genre:%20Hip%20Hop,%20Rock
Style:%20Blues%20Rock,%20Hard%20Rock,%20Conscious%20(wut?%20haha)
Year:%202004

Lyrics:
I%20just%20want%20you%20to
Relax
Ease%20into%20it

Baby%20slow%20down,%20just%20take%20your%20time
You%20and%20me%20goin'%20be%20here%20for%20a%20while
Okay
Baby%20don't%20rush%20this,%20take%20your%20time
You%20and%20me%20goin'%20be%20here%20for%20a%20while
Okay
I%20got%20so%20much%20that%20I%20want%20to%20do
I%20just%20want%20to%20be%20close%20to%20you
Okay
I%20got%20so%20much%20that%20I%20want%20to%20do
That%20I%20can%20show%20you%20better%20than%20I%20can%20say

I%20don't%20wanna%20be%20no%20where%20but%20here
No%20where%20in%20this%20atmosphere
Stratosphere,%20ionosphere
Ain't%20no%20sphere%20that's%20bright%20like%20here
I%20don't%20wanna%20be%20no%20where%20but%20here
No%20where%20in%20this%20atmosphere
I'm%20good%20where%20I%20am

Baby%20slow%20down,%20take%20your%20time
You%20and%20me%20goin'%20be%20here%20for%20a%20while
Okay,%20hey
I%20got%20so%20much%20that%20I%20want%20to%20do
I%20can%20show%20you%20better%20than%20I%20can%20say

Let%20me%20show%20you
Let%20me%20show%20you
Let%20me%20show%20you
Let%20me%20show%20you
Let%20me%20show%20you
I%20wanna%20show%20you
Let%20me%20show%20you
Let%20me%20show%20you
Let%20me%20show%20you

Oh%20baby,%20you%20make%20me%20feel%20so%20good
Come%20let%20me%20take%20you%20by%20the%20hand
Oh%20baby,%20you%20make%20me%20feel%20so%20good
Let%20me%20show%20you%20how
Let%20me%20show%20you%20how
Let%20me%20show%20you%20now
Let%20me%20show%20it%20out
Let%20me%20show%20you%20how
I%20wanna%20show%20ya%20how
Let%20me%20show%20ya
Let%20me%20show%20ya
Let%20me%20show%20ya
Let%20me%20show%20ya
Let%20me%20show%20ya
Ohh

Baby%20slow%20down%20just%20take%20your%20time
You%20and%20me%20goin'%20be%20here%20for%20a%20while
Okay,%20hey
I%20got%20so%20much%20that%20I%20want%20to%20do
That%20I%20can%20show%20you%20better%20than%20I%20can%20say

Enough%20talk%20and%20let's%20move
Come%20on,%20come%20on,%20come%20on,%20come%20on
Come%20on,%20come%20on,%20come%20on,%20come%20on
Come%20on,%20come%20on,%20come%20on,%20come%20on' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://UniversalMusicArgentina.lnk.to/SCgVMDL

SeguÃ­%20a%20Luciano%20en:
Facebook:%20https://www.facebook.com/lucianopereyraoficial/
Instagram:%20https://www.instagram.com/lucianopereyraoficial/?hl=es-la
Twitter:%20https://twitter.com/LucianoPereyra

EscuchÃ¡%20mÃ¡s%20de%20Luciano%20en:
Spotify:%20http://bit.ly/LucianoPereyra1
iTunes:%20http://bit.ly/LucianoPereyra_
Deezer:%20http://bit.ly/LucianoPereyraDeezer
Google%20Play:%20http://bit.ly/LucianoPereyraGP

Lyrics:
Te%20vi,%20no%20quiero%20molestar
No%20me%20pude%20aguantar
Tenerte%20tan%20cerquita
Y%20decir%20que%20linda%20estÃ¡s

SÃ©%20que%20andas%20con%20Ã©l
Y%20por%20lo%20que%20se%20ve
Ãl%20no%20te%20cuida%20tanto
Como%20yo%20lo%20puedo%20hacer

Dime%20si%20no%20duele
Tener%20tanta%20belleza
Que%20avisen%20en%20el%20cielo
Que%20se%20les%20cayÃ³%20una%20estrella

Y%20que%20suerte%20tiene%20Ã©l
De%20acariciar%20tu%20piel
Besarte%20por%20las%20noches
Y%20verte%20amanecer

Que%20suerte%20tiene%20Ã©l
Yo%20no%20puedo%20entender
CÃ³mo%20es%20que%20deja%20sola
A%20un%20encanto%20de%20mujer

ExplÃ­came,%20explÃ­came
CÃ³mo%20es%20que%20deja%20sola
A%20un%20encanto%20de%20mujer%20

ExplÃ­came,%20explÃ­came
No%20puede%20estar%20tan%20sola
Un%20encanto%20de%20mujer

Dime%20si%20no%20duele
Tener%20tanta%20belleza
Que%20avisen%20en%20el%20cielo
Que%20se%20les%20cayÃ³%20una%20estrella

Y%20que%20suerte%20tiene%20Ã©l
De%20acariciar%20tu%20piel
Besarte%20por%20las%20noches
Y%20verte%20amanecer

Que%20suerte%20tiene%20Ã©l
Yo%20no%20puedo%20entender
CÃ³mo%20es%20que%20deja%20sola
A%20un%20encanto%20de%20mujer

ExplÃ­came,%20explÃ­came
Como%20es%20que%20deja%20sola
A%20un%20encanto%20de%20mujer

ExplÃ­came,%20explÃ­came
No%20puede%20estar%20tan%20sola
Un%20encanto%20de%20mujer

Â¿Por%20quÃ©%20no%20te%20escapas%20conmigo?
Te%20abrigo%20y%20te%20quito%20este%20frÃ­o
Y,%20si%20Ã©l%20te%20deja%20sola%20sÃ³lo%20dime%20la%20hora
Te%20robo%20y%20nos%20perdemos%20en%20la%20sombra

Y%20que%20suerte%20tiene%20Ã©l
De%20acariciar%20tu%20piel
Besarte%20por%20las%20noches
Y%20verte%20amanecer

Que%20suerte%20tiene%20Ã©l
Yo%20no%20puedo%20entender
CÃ³mo%20es%20que%20deja%20sola
A%20un%20encanto%20de%20mujer

ExplÃ­came,%20explÃ­came
Como%20es%20que%20deja%20sola
A%20un%20encanto%20de%20mujer' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://UniversalMusicArgentina.lnk.to/SCgVMDL

SeguÃ­%20a%20Luciano%20en:
Facebook:%20https://www.facebook.com/lucianopereyraoficial/
Instagram:%20https://www.instagram.com/lucianopereyraoficial/?hl=es-la
Twitter:%20https://twitter.com/LucianoPereyra

EscuchÃ¡%20mÃ¡s%20de%20Luciano%20en:
Spotify:%20http://bit.ly/LucianoPereyra1
iTunes:%20http://bit.ly/LucianoPereyra_
Deezer:%20http://bit.ly/LucianoPereyraDeezer
Google%20Play:%20http://bit.ly/LucianoPereyraGP

Lyrics:
RegÃ¡lame%20un%20momento%20sÃ³lo%20para%20hablarte
Ya%20sÃ©%20no%20me%20conoces,%20vine%20a%20presentarme
Te%20vi%20y%20no%20sÃ©%20cÃ³mo%20perdÃ­%20todo%20este%20tiempo
Si%20me%20prestas%20un%20beso,%20yo%20te%20lo%20devuelvo

Te%20juro%20que%20no%20sÃ©%20quÃ©%20me%20pasÃ³
Que%20estoy%20alucinando%20por%20tu%20amor
No%20habÃ­a%20sentido%20esto
Te%20sueÃ±o%20despierto,%20me%20ahogo%20en%20suspiros

Ya%20le%20pedÃ­%20a%20la%20virgen%20de%20LujÃ¡n
Y%20ahora%20que%20te%20veo%20en%20este%20lugar
Entiendo%20que%20contigo,%20cosita%20preciosa
TendrÃ­a%20cien%20hijos

Y%20que%20sean%20como%20tÃº
Con%20esos%20ojos%20que%20enamoran
Con%20esa%20risa%20encantadora
Tus%20manos,%20tu%20pelo,%20tu%20cara%20bonita

Y%20que%20sean%20como%20tÃº
Porque%20como%20tÃº%20no%20hay%20otra
Por%20un%20beso%20de%20tu%20boca
Te%20juro%20sin%20dudas%20darÃ­a%20mi%20vida

Oh%20oh
Oh%20oh
Oh%20oh
Eh%20eh

PerdÃ³name%20si%20al%20verte%20quedÃ©%20sin%20aliento
Ay,%20me%20estoy%20enamorando%20sin%20querer%20queriendo

Te%20juro%20que%20no%20sÃ©%20quÃ©%20me%20pasÃ³
Que%20estoy%20alucinando%20por%20tu%20amor
No%20habÃ­a%20sentido%20esto
Te%20sueÃ±o%20despierto,%20me%20ahogo%20en%20suspiros

Ya%20le%20pedÃ­%20a%20la%20virgen%20de%20LujÃ¡n
Y%20ahora%20que%20te%20veo%20en%20este%20lugar
Entiendo%20que%20contigo,%20cosita%20preciosa
TendrÃ­a%20cien%20hijos

Y%20que%20sean%20como%20tÃº
Con%20esos%20ojos%20que%20enamoran
Con%20esa%20risa%20encantadora
Tus%20manos,%20tu%20pelo,%20tu%20cara%20bonita

Y%20que%20sean%20como%20tÃº
Porque%20como%20tÃº%20no%20hay%20otra
Por%20un%20beso%20de%20tu%20boca
Te%20juro%20sin%20dudas%20darÃ­a%20mi%20vida

Oh%20oh
Oh%20oh
Oh%20oh
Eh%20eh

Y%20ya%20no%20me%20importa%20nadie%20mÃ¡s%20que%20tu
(Oh%20oh)%20Yo%20solo%20quiero%20a%20alguien%20como%20tÃº
(Oh%20oh)%20Como%20tÃº,%20como%20tÃº
(Eh%20eh)%20como%20tÃº%20mi%20amor

Ya%20le%20pedÃ­%20a%20la%20virgen%20de%20LujÃ¡n
Y%20ahora%20que%20te%20veo%20en%20este%20lugar
Entiendo%20que%20contigo,%20cosita%20preciosa
TendrÃ­a%20cien%20hijos

Y%20que%20sean%20como%20tÃº
Con%20esos%20ojos%20que%20enamoran
Con%20esa%20risa%20encantadora
Tus%20manos,%20tu%20pelo,%20tu%20cara%20bonita

Y%20que%20sean%20como%20tÃº
Porque%20como%20tÃº%20no%20hay%20otra
Por%20un%20beso%20de%20tu%20boca
Te%20juro%20sin%20dudas%20darÃ­a%20mi%20vida

Oh%20oh
Oh%20oh
Oh%20oh
Eh%20eh%20(bis)

QuÃ©%20cosita%20preciosa' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://UniversalMusicArgentina.lnk.to/SCgVMDL

SeguÃ­%20a%20Luciano%20en:
Facebook:%20https://www.facebook.com/lucianopereyraoficial/
Instagram:%20https://www.instagram.com/lucianopereyraoficial/?hl=es-la
Twitter:%20https://twitter.com/LucianoPereyra

EscuchÃ¡%20mÃ¡s%20de%20Luciano%20en:
Spotify:%20http://bit.ly/LucianoPereyra1
iTunes:%20http://bit.ly/LucianoPereyra_
Deezer:%20http://bit.ly/LucianoPereyraDeezer
Google%20Play:%20http://bit.ly/LucianoPereyraGP

Lyrics:
Una%20calle%20un%20cafÃ©,%20salgo%20a%20caminar
Como%20cada%20tarde%20a%20ningÃºn%20lugar
Solo%20acompaÃ±ado%20de%20tus%20recuerdos

Y%20me%20quema%20este%20frÃ­o%20de%20la%20ciudad
Duele%20hasta%20reÃ­r%20cuesta%20respirar
Solo%20oigo%20tu%20voz%20en%20medio%20del%20silencio

Sigues%20tan%20presente,%20aunque%20no%20estÃ©s%20aquÃ­
TÃº%20tienes%20la%20magia%20que%20me%20hace%20feliz
El%20poder%20para%20aliviar%20mi%20sufrimiento

EnsÃ©Ã±ame%20a%20vivir%20sin%20ti%20o%20no%20te%20alejes%20mÃ¡s%20de%20mÃ­
Que%20ya%20me%20di%20cuenta
Que%20el%20sol%20en%20tu%20ausencia%20se%20vuelve%20de%20hielo

EnsÃ©Ã±ame%20a%20vivir%20sin%20ti%20o%20no%20te%20alejes%20mÃ¡s%20de%20mÃ­
Que%20mi%20corazÃ³n%20en%20tu%20ausencia
Es%20un%20mundo%20que%20no%20tiene%20cielo

Hoy%20me%20duele%20saber%20que%20esto%20sigue%20igual
Y%20no%20entiendo%20cÃ³mo%20hacer%20para%20olvidar
Que%20Ã©ramos%20felices%20todo%20era%20perfecto

Sigues%20tan%20presente,%20aunque%20no%20estÃ©s%20aquÃ­
TÃº%20tienes%20la%20magia%20que%20me%20hace%20feliz
El%20poder%20para%20aliviar%20mi%20sufrimiento

EnsÃ©Ã±ame%20a%20vivir%20sin%20ti%20o%20no%20te%20alejes%20mÃ¡s%20de%20mÃ­
Que%20ya%20me%20di%20cuenta
Que%20el%20sol%20en%20tu%20ausencia%20se%20vuelve%20de%20hielo

EnsÃ©Ã±ame%20a%20vivir%20sin%20ti%20o%20no%20te%20alejes%20mÃ¡s%20de%20mÃ­
Que%20mi%20corazÃ³n%20en%20tu%20ausencia
Es%20un%20mundo%20que%20no%20tiene%20cielo

EnsÃ©Ã±ame%20a%20vivir%20sin%20ti%20o%20no%20te%20alejes%20mÃ¡s%20de%20mÃ­
Que%20ya%20me%20di%20cuenta
Que%20el%20sol%20en%20tu%20ausencia%20se%20vuelve%20de%20hielo

EnsÃ©Ã±ame%20a%20vivir%20sin%20ti%20o%20no%20te%20alejes%20mÃ¡s%20de%20mÃ­
Que%20mi%20corazÃ³n%20en%20tu%20ausencia
Es%20un%20mundo%20que%20no%20tiene%20cielo

EnsÃ©Ã±ame%20a%20vivir%20sin%20ti' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "

C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://kx5.ffm.to/whenitalk

All%20things%20Kx5%20here:%20https://ffm.bio/kx5

Merch%20avail%20for%20Kx5%20right%20here:%20https://kx5shop.com

Follow%20Kx5's%20playlist%20on%20Spotify%20here:%20https://spoti.fi/3UOdqPg

Video%20created%20by%20Rising%20Agency:
https://rising.agency
https://instagram.com/_risingagency

About%20' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://www.playstation.com/games/gran-turismo-7/

Official%20music%20video%20for%20âVROOMâ%20by%20The%20FaNaTiX%20feat.%20Idris%20Elba,%20Lil%20TJay,%20Davido,%20Koffee,%20Moelogo.%20This%20song%20was%20created%20for%20the%20Gran%20TurismoÂ®%207%20soundtrack%20in%20collaboration%20with%20Sony%20Music%20Entertainment,%20Polyphony%20Digital%20Studios,%20and%20PlayStation.

Explore%20and%20find%20what%20drives%20your%20passion%20in%20Gran%20Turismo%207.%20Available%20now%20for%20PS5%20and%20PS4.%20

ESRB%20Rating:%20EVERYONE%20with%20Alcohol%20Reference%20and%20Use%20of%20Tobacco%20/%20In-Game%20Purchases%20and%20Users%20Interact

Listen%20to%20Vroom:%20https://gt7.lnk.to/vroom

GT7%20PDP%20Link:%20play.st/GT7%20

Production:%20UNTOLD%20Studios.
Director:%20FILFURY
Co-Director:%20Charlie%20Sarsfield
Production%20Company:%20UNTOLD%20Studios
Global%20Executive%20Producer:%20Josh%20Davies
Commissioners:%20Saul%20Levitz,%20Mike%20OâKeefe

Follow%20The%20FaNaTiX:
Spotify%20https://spoti.fi/34cSXM2%20

LYRICS:
%5bChorus:%20Moelogo%5d
I%20might%20pull%20up%20in%20the%20Maserati,%20Maserati
Maybe%20the%20Bugatti,%20Bugatti%20(Mhm)
Ducati,%20Ducati
They%20telling%20me%20Iâm%20too%20flashy,%20too%20flashy
Pull%20up%20in%20the%20Maserati,%20Maserati
Maybe%20the%20Bugatti,%20Bugatti%20(Mhm)
Ducati,%20Ducati
They%20telling%20me%20Iâm%20too%20flashy,%20too%20flashy
Either%20way,%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Either%20way,%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom

%5bVerse:%20Idris%20Elba%5d
You%20might%20see%20me%20in%20the%20black%20Mustang
No%20gang
Then%20leave%20through%20the%20back%20door%20in%20a%20black%20van
Or%20see%20me%20in%20the%20Maybach
Laid%20back
With%20a%20tip%20team%20gettinâ%20brain%20back
Or%20see%20me%20all%20scatty%20in%20a%20Bugatti
You%20might%20see%20me%20with%20Sabby%20in%20the%20Massy%20and%20she%20got%20a%20big%20batty
Too%20flashy,%20too%20flashy
Ride%20more%20back%20seat%20than%20a%20black%20cabby
Might%20see%20me%20in%20a%20black%20Audi,%20just%20allow%20me
With%20my%20gang%20full%20rowdy
Beg%20you%20give%20me%20space%20please%20donât%20crowd%20me
Turn%20the%20FaNaTix%20up%20real%20loudly
Yeah,%20galdemâll%20wash%20down
This%20tune%20play%20galdemâll%20buss%20down
And%20I%20wonder%20yaâll%20sittinâ%20with%20a%20touchdown

%5bChorus:%20Moelogo%5d
Either%20way,%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Either%20way,%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom

%5bVerse:%20Lil%20Tjay%5d
G-Wagon,%20yeah%20you%20lagging
Just%20the%20way%20Iâm%20livinâ%20man%20Iâm%20sorry%20if%20Iâm%20bragging
Sometimes%20I%20be%20thinking%20I%20donât%20know%20how%20all%20this%20happened
No%20cappinâ
I%20make%20millies%20off%20of%20rapping
Hate%20being%20fashion%20but%20this%20car%20outdated
How%20you%20tryna%20be%20but%20you%20sure%20aint%20native
I%20could%20put%20you%20on%20but%20if%20you%20fold%20you%20baited
Iâm%20just%20so%20creative
Different%20type%20of%20cars,%20Iâm%20a%20star%20of%20course
GT%20do%20a%20hundred%20no%20force
I%20be%20living%20life%20but%20still%20Iâm%20working%20hard%20of%20course
Care%20for%20nothing%20I%20ainât%20takinâ%20no%20shorts
The%20more%20I%20live%20I%20feel%20like%20Iâm%20on%20stage
Every%20day%20your%20girl%20she%20be%20on%20my%20page
I%20remember%20my%20momma%20said%20to%20pick%20up%20my%20grades
I%20was%20having,%20just%20tryna%20get%20paid
%5bVerse:%20Koffee%5d
How%20you%20know%20what%20I%20want%20do
Pull%20up%20in%20the%20white%20Benz%20next%20time%20blue
Another%20time%20riddem%20so%20they%20get%20confused
Switchinâ%20the%20path%20then%20I%20gunna%20flex%20pon%20you
Say%20you%20want%20my%20money,%20canât%20do
Take%20a%20picture%20for%20me%20please
Yes%20yes%20thank%20you
I%20just%20want%20to%20pull%20up%20in%20the%20best%20ride
24%20carot%20on%20my%20left%20side
Yeah%20my%20diamonds%20on%20my%20neck%20side
You%20come%20to%20me%20in%20a%20next%20life
When%20I%20see%20my%20*****%20I%20make%20her%20pressed%20like
Straight%20G-Wagon%20and%20an%20X5
Might%20pull%20up%20in%20a%20Model%20S%20like%20Tesla
Living%20my%20best%20life

%5bChorus:%20Moelogo%5d
I%20might%20pull%20up%20in%20the%20Maserati,%20Maserati
Maybe%20the%20Bugatti,%20Bugatti%20(Mhm)
Ducati,%20Ducati
They%20telling%20me%20Iâm%20too%20flashy,%20too%20flashy
Either%20way,%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom

%5bVerse:%20Davido%5d
When%20I%20pull%20up%20in%20the%20German
Holla,%20German
When%20I%20pull%20up%20with%20the%20German
With%20the%20backside%20from%20Ghana
Oh,%20baby%20shake%20your%20backside
Bring%20it%20back%20like%20Karma
She%20gunnaâ%20do%20it%20for%20the%20Babba
Come%20and%20Iâll%20give%20you%20the%20power
Black%20power,%20shake%20it

%5bInterlude:Davido%5d
Oh%20Oh
I%20want%20you%20forever%20girl
But%20loveâs%20not%20for%20everybody
But%20youâre%20just%20not%20anybody
Come%20my%20body

%5bChorus:%20Moelogo%5d
I%20might%20pull%20up%20in%20the%20Maserati,%20Maserati
Maybe%20the%20Bugatti,%20Bugatti%20(Mhm)
Ducati,%20Ducati
They%20telling%20me%20Iâm%20too%20flashy,%20too%20flashy
Pull%20up%20in%20the%20Maserati,%20Maserati
Maybe%20the%20Bugatti,%20Bugatti%20(Mhm)
Ducati,%20Ducati,
They%20telling%20me%20Iâm%20too%20flashy,%20too%20flashy
Either%20way,%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Either%20way,%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom
Vroom%20Vroom%20Vroom%20Vroom%20Vroom' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'http://www.downtownthesong.com
Spotify:%20http://open.spotify.com/album/3MVL172L0WhFYwG9wvEyFr
iTunes:%20http://smarturl.it/DowntownTheSong
THIS%20UNRULY%20MESS%20I'VE%20MADE%20out%20on%202.26.2016

DOWNTOWN%20FEAT%20MELLE%20MEL,%20KOOL%20MOE%20DEE,%20GRANDMASTER%20CAZ%20&%20ERIC%20NALLY

Directed%20By%20
Ryan%20Lewis
Jason%20Koenig
Ben%20Haggerty%20

Written%20By%20
Ben%20Haggerty
Jason%20Koenig%20
Ryan%20Lewis

Executive%20Producer%20M&RL%20Films%20
Lead%20Producer%20-%20Honna%20Kimmerer%20
Producer%20-%20Jason%20Koenig

Co-Produced%20By%20VISION%20
Producer%20-%20Geoff%20McLean
Line%20Producer%20-%20Michele%20Lawrence
Production%20Coordinator%20-%20Kristi%20Heicke

Co-Produced%20By%20NxNW%20
Line%20Producer%20-%20Randy%20Kron
Production%20Coordinator%20-%20Diane%20Eve

Cinematography%20
Jason%20Koenig
Christopher%20Probst


Art%20Director%20
John%20Lavin

Assistant%20Art%20Director%20
Kaleo%20Quenzer

1st%20Assistant%20Director
John%20Nasraway

2nd%20Assistant%20Director
Isaac%20Mejia

Edited%20By%20
Ryan%20Lewis%20/%20Jason%20Keonig%20/%20Ben%20Haggerty%20

Assistant%20Editor%20
Phil%20Harvey%20

Movi/Drone%20Operator
Ryan%20Haug

1st%20Assistant%20Camera%20
Ryan%20Brown

2nd%20Assistant%20Camera
Chris%20Duerkopp

Camera%20Operators%20
Mitchell%20Overton%20
John%20Peterson

Location%20Manager%20
Alan%20Lee%20Baker

Casting%20
Jackie%20Ganger
Jenny%20Koenig
Nike%20Imoru
Kenny%20Parks

Choreography
Massive%20Monkees:
Brysen%20Angeles
Jerome%20Aparis
Terrance%20Guillermo
Hocine%20Jouini

Stylists%20
Therese%20Lefebvre%20
Paul%20White%20

Specialized%20Costume%20Designer
Logan%20Neitzel

Wardrobe
Lucky%20Vintage%20/%20Caryn%20Cook%20
Lisa%20Caryl-Vukas

Makeup%20
Shannon%20Bisconer
Trista%20Jordan
Amy%20Bruscoe
Jeanne%20Kobayashi

Prop%20Master/Buyer
Emily%20Wood

Head%20Carpenter/Set%20dresser
Teo%20Shantz

Key%20Scenic%20Artist/Set%20dresser
Tenold%20Sundberg

Set%20Dresser/Assistant%20props
Blake%20Nelson

Carpenter
Finch%20Izatt%20

Gaffer%20
James%20Winters

Key%20Grip%20
Eric%20Budlong

Best%20Boy%20Grip%20%20
Dan%20Kerpluk

Grip%20
Kaiyoti%20Pesante%20
Randy%20Vega

Grip%20Assistant%20
Keaton%20Kinnaman

Grip%20Driver%20
Mike%20Rodriguez

Crane%20/%20Jib%20Operator
Greg%20Richie

Vehicle%20Wrangler%20
Craig%20Binkley
Jay%20Neilson
Layne%20Schmerin%20

Stunt%20Coordinator/Process%20Trailer%20
Jerry%20Buxbuam

Stunt%20Riders
Nick%20Cooper
Matthew%20McCoy
Byron%20Petretti
Austin%20Gerimonte
Craig%20Payne

Playback%20
Tyler%20Dopps

Lead%20Production%20Assistants
Layne%20Schmerin
Andrea%20Jewett
Jay%20Neilson
Jennie%20Pegouskie
Kyle%20%22KJ%22%20Johnson

Production%20Assistants%20
Jesse%20Lonchar
Ron%20Ridenour
Darrien%20Mack
Lindsay%20Johnston
Jared%20Greene
Ben%20Berkimer%20
Mackenzie%20Pierce
Hunter%20Ramp
Eric%20Feichtinger
Brandon%20Balmelli
Nina%20Wizner%20
Matt%20Weigand
Matt%20Alley
Alize%20Marsh
Hans%20Liezen
Aspen%20Edwards
Kelly%20Van%20Lith
Mason%20Van%20Lith
Gretchen%20Van%20Lith
Ali%20Johnston
Jackie%20Santin%20
Alex%20Roland
Becca%20Zabawa

Location%20Assistants%20
Sheila%20Clifford
Layne%20Schmerin
Noah%20Pasino
Leif%20McLeod
Tyler%20Clark
Aaaron%20Shell

Wardrobe%20Assistants%20
Pauletta%20Caryl
Renae%20Meredith
Serenca%20Caryl

Art%20Department%20Assistant%20
Page%20Lavin%20

Colorist%20
Taylre%20Jones
BenoÃ®t%20CÃ´tÃ©
Kevin%20Adams
Jason%20Koenig
Ryan%20Lewis

Digital%20Retouching%20%20
Nate%20Taylor

Titles%20&%20Graphic%20Design%20
Hans%20Woody

Craft%20Service%20Lead%20
Justina%20Renoud

Craft%20Service%20Asstistants
Chandler%20Dill
Jordan%20Dill

Medic%20
Heather%20Dixon

Transpo
Thomas%20Olson
Roy%20Parson

Behind%20the%20Scenes%20Photography%20
Zoe%20Rain

Starring%20
Macklemore
Eric%20Nally%20
Kool%20Moe%20Dee
Melle%20Mel%20
Grandmaster%20Caz
Ken%20Griffey%20Jr.%20
Brysen%20Angeles%20
Terrance%20Guillermo
Tyler%20Andrews%20(XP)
Seth%20Welch%20
Brandon%20Foy%20(PHNK)
Jerome%20Aparis
Hocine%20Jouini
Alan%20Lee%20Baker
Brianne%20Thompson
Wyatt%20Forrest

Extras%20(in%20no%20particular%20order)
Kenny%20Parks,%20Jr.%20
Zach%20Quillen%20
Josh%20Dick%20
Ben%20Secord%20
Jennie%20Pegouskie%20
Sharayah%20Lane
Frank%20Hendler
Donnell%20Manning
Margaret%20Chen%20
Sye%20Holland%20
Dharma%20Martin%20
Jackie%20Ganger
Zoe%20Rain
Therese%20Lefebvre
Evander%20Cobbs
Damon%20Mentzer
D.R.%20Anderson%20
Darin%20Hilderbrand%20
Cedric%20Massey
Patrick%20McHenry-Kroetch
Joe%20Flores
Chadwick%20Platt-Kuhn%20
Josh%20Blakey%20
Victoria%20James
Jeremy%20Lindholm
Nicholas%20Tellez%20
Shanner%20Escalanti
Shawntelle%20Moncy
Heidi%20Lockhart
Charles%20Fletcher
Scott%20&%20J%20Whituer
Beanie%20The%20Dog

Macklemore%20&%20Ryan%20Lewis%20managed%20by%20Zach%20Quillen%20&%20Josh%20Dick%20

Special%20Thanks%20To
City%20of%20Spokane
Lucky%20Vintage
Empire%20Cycle%20
Two%20Percent%20Scooters
The%20Minions%20Scooter%20Club
Scoot%20About%20
Koerner%20Camera
Scott%20Lewis%20
Spokane%20Schools%20
Pat%20&%20Debbie%20Stimpson
Zola%20
Juju' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://taeyang.lnk.to/VIBE

TAEYANG%20-%20'VIBE%20(feat.%20Jimin%20of%20BTS)'%20M/V


ë§ë¡ %20ííí %20ì%20ìì§ë§
Girl,%20You%20gotta%20know%20you%20got%20that%20vibe
ë¤%20ë¯¸ìë%20Fine%20Art
ë´%20ìí¼ì%20ê¹¨ì
You%20got%20me%20feelinâ%20so%20right%20yeah%20
Itâs%20a%20vibe%20

Yeah%20eh
This%20gonâ%20be%20the%20one%20and%20only%20theme%20song
ëìê²ë§%20ê³ ì ë%20ë´%20ìì
ë´ê²%20ëë%20íëë¿ì¸%20Mission
ë¶ê°ë¥ì%20ìì´%20Baby%20lights%20camera%20action
ëë%20ìì%20ìì%20ëë%20Topline%20
ëë%20ëì%20ìì%20ëë%20Skyline%20
ë%20ë´%20ìí%20ìì%20Highlight%20
ì´ëì´%20ë°¤íë%20ëì%20Twilight
Just%20gets%20better
ëë¥¼%20ì²ìë¶í°%20ì ì£¼ííê³ %20ì¶ì%20ë§¤ë ¥%20
You%20donât%20know%20I%20want%20your%20love%20(know%20I%20want%20your%20love)
ì´%20ë°¤ì´%20ëëê¸°%20ì ì%20Baby

You%20know%20we%20got%20that%20vibe%20baby%20(í´%20ë°%20ëê¹ì§)
Look%20at%20me,%20look%20at%20me,%20ëëì´%20ëì§
Look%20at%20me,%20look%20at%20me,%20ëëì´%20ëì§
You%20know%20we%20got%20that%20vibe%20baby%20(í´%20ì§%20ëê¹ì§)
Look%20at%20you,%20look%20at%20you,%20ëëì´%20ëì§%20
ëëì´%20ì%20Itâs%20a%20vibe

This%20gonâ%20be%20the%20one%20and%20only%20Anthem%20
ê°ê°ì ì´ì¼%20Sixth%20sense%20ë°ì 
ì§ë¦¿í´%20ìë§%20ì¡ìë%20ê°ì 
ëë¥¼%20ë§ëê¸°%20ì ê¹ì§%20ë´%20ì¸ìì%20ìì 
ëë%20ë¬´ë%20ìì%20ëë%20Spotlight%20
ëë%20íê°%20ìì%20ëë%20ë¨ì°
ë%20ìë²½í %20ì%20ììì
ì´ëì´%20ë°¤íë%20ëì%20Twilight
I%20could%20feel%20it
ëë%20ê³µê°ì%20ê°íë²ë ¸ì´%20Youâre%20my%20Matrix
You%20donât%20know%20I%20want%20your%20love%20(know%20I%20want%20your%20love)
ì´%20ë°¤ì´%20ëëê¸°%20ì ì%20Baby

You%20know%20we%20got%20that%20vibe%20baby%20(í´%20ë°%20ëê¹ì§)
Look%20at%20me,%20look%20at%20me,%20ëëì´%20ëì§
Look%20at%20me,%20look%20at%20me,%20ëëì´%20ëì§
You%20know%20we%20got%20that%20vibe%20baby%20(í´%20ì§%20ëê¹ì§)
Look%20at%20you,%20look%20at%20you,%20ëëì´%20ëì§
ëëì´%20ì%20Itâs%20a%20vibe

Look%20at%20the%20stars
ë°ê²%20ë¹ëë%20ë¬
All%20through%20the%20night
ì°ë¦´%20ë¹ì¶°ì£¼ê³ %20ììì

ë %20ë³´ë%20ëì%20ëë¹ê³¼%20
ì§ëì%20ê³ì%20ëë¼ê³ %20ì¶ì´
(You%20gotta%20know%20you%20got%20that%20vibe)

You%20know%20we%20got%20that%20vibe%20baby%20(í´%20ë°%20ëê¹ì§)
Look%20at%20me,%20look%20at%20me,%20ëëì´%20ëì§%20
You%20know%20we%20got%20that%20vibe%20baby%20(í´%20ì§%20ëê¹ì§)
Look%20at%20you,%20look%20at%20you,%20ëëì´%20ëì§
ëëì´%20ì%20Itâs%20a%20vibe


More%20about%20TAEYANG%20@
https://www.instagram.com/__youngbae__/
https://www.facebook.com/TAEYANG
https://twitter.com/Realtaeyang
https://youtube.com/@TAEYANG_Official
https://www.tiktok.com/@taeyang

' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'http://growingupsong.com%20-%20Free%20Download!
http://macklemore.com
http://soundcloud.com/macklemore/macklemore-ryan-lewis-growing-up-sloanes-song-feat-ed-sheeran

I%20wish%20that%20I%20could%20say%20that%20I%20was%20in%20a%20âbetter%20placeâ%20when%20I%20found%20out%20the%20news.%20%20It%20would%20make%20for%20a%20far%20more%20polished%20and%20respectable%20story.%20%20But%20I%20think%20back%20to%20that%20night:%20praying%20on%20the%20floor%20at%202am%20as%20Tricia%20went%20to%20the%20bathroom%20to%20take%20the%20pregnancy%20test%20Iâd%20just%20purchased%20from%20Walgreens.%20%20I%20was%20scared.%20%20Scared%20to%20start%20working%20on%20new%20music.%20%20Scared%20of%20trying%20again%20and%20failing.%20%20Scared%20of%20the%20process%20of%20staring%20at%20myself%20through%20a%20page%20and%20seeing%20someone%20that%20I%20wasnât%20proud%20of.%20%20Someone%20that%20I%20didnât%20like.%20%20Someone%20that%20wasnât%20ready%20to%20be%20a%20dad.

Iâve%20always%20had%20some%20make-believe%20image%20in%20my%20head%20of%20who%20I%20would%20be%20as%20a%20father.%20%20I%20held%20on%20to%20clear%20expectations%20of%20where%20I%20wanted%20be%20in%20my%20career,%20my%20age,%20my%20level%20of%20self-care,%20and%20my%20maturity.%20%20I%20basically%20assumed%20that%20I'd%20have%20it%20all%20together.%20%20But%20in%20actuality%20the%20hypothetical%20âdad%22%20version%20of%20me%20looked%20completely%20different%20than%20the%20man%20whose%20heart%20was%20beating%20out%20of%20his%20chest%20on%20the%20carpet,%20praying%20to%20a%20god%20or%20spirit%20I%20hadnât%20talked%20to%20in%20months.%20%20When%20Tricia%20walked%20out%20of%20the%20bathroom,%20I%20knew.%20And%20I%20knew%20I%20had%20to%20change.

5%20months%20later%20we%20were%20recording%20in%20a%20remote%20cabin%20away%20from%20the%20density%20that%20is%20Seattle.%20%20I%20was%20finally%20having%20fun%20in%20the%20studio%20for%20the%20first%20time%20in%20years.%20%20Songs%20were%20getting%20made,%20finally.%20I%20was%20going%20back%20to%20the%20city%20once%20a%20week%20to%20attend%20a%20birthing%20class%20with%20Tricia.%20%20When%20I%20got%20back%20to%20the%20cabin%20the%20next%20day,%20Ryan%20had%20made%20a%20new%20beat%20that%20would%20eventually%20become%20the%20song%20youâre%20listening%20to.%20%20Half%20of%20it%20is%20advice%20about%20growing%20up.%20%20The%20other%20half%20is%20trying%20to%20figure%20out%20how%20to%20grow%20up%20myself.

When%20you%20try%20to%20escape%20yourself,%20life%20has%20an%20interesting%20way%20of%20creating%20situations%20that%20force%20you%20to%20come%20back.%20%20To%20look%20at%20who%20you%20are.%20%20This%20is%20why%20âGrowing%20upâ%20felt%20like%20the%20right%20song%20to%20re-emerge%20with.%20%20Itâs%20where%20Iâve%20been%20the%20last%20year,%20through%20all%20the%20ups%20and%20downs.%20%20%20We%20didnât%20want%20to%20do%20a%20big%20campaign%20or%20anything%20over%20the%20top%20with%20this.%20%20We%20just%20wanted%20to%20put%20out%20good%20music,%20directly%20to%20the%20people%20that%20have%20been%20here%20since%20the%20beginning.%20%20Thank%20you%20for%20your%20patience.%20Hope%20you%20enjoy.

And%20if%20youâre%20wonderingâ¦

Our%20daughter,%20Sloane%20Ava%20Simone%20Haggerty%20was%20born%202%20months%20ago%20on%20May%2029th.%20%20There%20is%20nothing%20like%20the%20joy%20and%20happiness%20that%20comes%20from%20bringing%20a%20baby%20into%20this%20universe.%20%20She%20has%20filled%20my%20heart%20in%20ways%20that%20I%20never%20knew%20were%20possible.%20%20She%20is%20the%20love%20of%20my%20life.%20%20This%20song%20is%20for%20her.%20

-%20Ben

Performed%20by%20Macklemore
Produced%20by%20Ryan%20Lewis
Featuring%20Ed%20Sheeran

Written%20by:%20B.%20Haggerty;%20R.%20Lewis;%20E.%20Sheeran;%20J.%20Karp;%20O.%20Arunga;%20J.%20Rawlings

Bass%20by%20Joshua%20%22Budo%22%20Karp
Piano%20by%20Joshua%20Rawlings%20and%20Joshua%20%22Budo%22%20Karp
Guitar%20by%20Ryan%20Lewis%20and%20Joshua%20%22Budo%22%20Karp
Trumpet%20by%20Owuor%20Arunga
Trombone%20by%20Greg%20Kramer
Vibraphone%20by%20Susan%20Pascal
Group%20Vocals%20by%20Deshe'%20Brooks,%20Tanisha%20Brooks,%20Sherri%20Charleston,%20Josephine%20Howell,%20Dana%20Jackson,%20Karma%20Johnson,%20Russell%20Leonce,%20Shaunyce%20Omar,%20Sally%20Reavis,%20Austin%20Rickel,%20Francisca%20Shaw,%20Maelu%20Strange%20and%20Liah%20Walker

Mixed%20by%20Jon%20Castelli
Mastered%20by%20Dale%20Becker
Engineered%20by%20Stephen%20Hogan
Assistant%20Engineered%20by%20Dave%20West%20(London%20Bridge%20Studios)%20and%20Scott%20Cedarholm%20(Avast%20Studios)%20
Engineer%20for%20mix%20Ryan%20Nasci

Macklemore%20Publishing%20(BMI)
Ryan%20Lewis%20Publishing%20(BMI)
Gutterfunk%20(ASCAP)
Arunga%20Music%20(BMI)
Joshua%20Rawlings%20(ASCAP)

Ed%20Sheeran%20Limited%20and%20Sony/ATV%20Music%20Publishing%20(UK)
Ed%20Sheeran%20appears%20courtesy%20of%20Asylum%20Records%20UK%20Ltd


C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://abortionfunds.org/
https://supermajority.com/
https://emilyslist.org/
https://www.headcount.org/

Official%20Video%20for%20âBreakfastâ%20by%20Dove%20Cameron

Listen%20&%20Download%20âBreakfast%22%20out%20now:Â https://dovecameron.lnk.to/breakfast
Â
Pre-Save%20new%20music:%20https://dovecameron.lnk.to/follow

Amazon%20Music:%20https://dovecameron.lnk.to/breakfast/AmazonMusic
Apple%20Music:Â https://dovecameron.lnk.to/breakfast/AppleMusic
iTunes:Â https://dovecameron.lnk.to/breakfast/iTunesÂ Â Â Â Â Â Â Â Â Â
Pandora:Â https://dovecameron.lnk.to/breakfast/Pandora
Soundcloud:Â https://dovecameron.lnk.to/breakfast/Soundcloud
Spotify:Â https://dovecameron.lnk.to/breakfast/Spotify
YouTube%20Music:Â https://dovecameron.lnk.to/breakfast/YouTubeMusic
YouTube:Â https://dovecameron.lnk.to/breakfast/YouTube
Â
FollowÂ Dove
https://www.instagram.com/dovecameron/
https://www.tiktok.com/@dovecameron
https://twitter.com/DoveCameron
https://www.facebook.com/officialdovecameron
Â
Lyrics:
Youâre%20smoke%20in%20my%20hair
Hot%20and%20dirty%20like%20the%20LA%20air
That%20face%20baby%20it%20ainât%20fair
But%20you%20donât%20know%20what%20you%20donât%20knowÂ
What%20you%20donât%20knowÂ
Â
Oooooo%20so%20you%20wanna%20talk%20about%20powerÂ
Oooooo%20let%20me%20show%20you%20powerÂ
Â
I%20eat%20boys%20like%20you%20for%20breakfastÂ
One%20by%20one%20hung%20on%20my%20necklaceÂ
And%20theyâll%20always%20be%20mine
It%20makes%20me%20feel%20aliveÂ
Â
I%20eat%20boys%20like%20you%20for%20breakfastÂ
I%20know%20that%20you%20tried%20your%20bestestÂ
I%20never%20said%20itâs%20right
But%20Iâm%20gonna%20keep%20doing%20itÂ
Â
Iâm%20sick%20yeah%20Iâm%20sickÂ
And%20honestly%20Iâm%20getting%20high%20off%20it
Do%20you%20wanna%20see%20a%20magic%20trick?
Cause%20you%20donât%20know%20what%20you%20donât%20know%20but%20I%20knowÂ
Â
Oooooo%20so%20you%20wanna%20talk%20about%20powerÂ
Oooooo%20let%20me%20show%20you%20powerÂ
Â
I%20eat%20boys%20like%20you%20for%20breakfastÂ
One%20by%20one%20hung%20on%20my%20necklaceÂ
And%20theyâll%20always%20be%20mine
It%20makes%20me%20feel%20aliveÂ
Â
I%20eat%20boys%20like%20you%20for%20breakfastÂ
I%20know%20that%20you%20tried%20your%20bestestÂ
I%20never%20said%20itâs%20right
But%20Iâm%20gonna%20keep%20doing%20itÂ
Â
I%20eat%20boys%20I%20eat%20boys
I%20eat%20boys%20I%20eat%20boys
Â
Youâre%20smoke%20in%20my%20hair
Hot%20and%20dirty%20like%20the%20LA%20air
That%20face%20baby%20it%20ainât%20fair
But%20you%20donât%20know%20what%20you%20donât%20knowÂ
What%20you%20donât%20knowÂ
Â
I%20eat%20boys%20like%20you%20for%20breakfastÂ
One%20by%20one%20hung%20on%20my%20necklaceÂ
And%20theyâll%20always%20be%20mine
It%20makes%20me%20feel%20aliveÂ
Â
I%20eat%20boys%20like%20you%20for%20breakfastÂ
I%20know%20that%20you%20tried%20your%20bestestÂ
I%20never%20said%20itâs%20right
But%20Iâm%20gonna%20keep%20doing%20it

Â
' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "
C:\Users\Roshan B\anaconda3\lib\site-packages\xlsxwriter\worksheet.py:1170: UserWarning: Ignoring URL 'https://smarturl.it/EllaNoEsTuyaRemix
ELLA%20NO%20ES%20TUYA%20REMIX%20

%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20LETRAS%20:%20

%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20(Coro)
Ella%20no%20es%20tuya%20,%20te%20vendiÃ³%20sueÃ±o%20â%20dice%20que%20no%20tiene%20dueÃ±o%20cuando%20estÃ¡%20contigo%20eâ%20lo%20mÃ¡s%20bello%20,%20lo%20mismo%20que%20hace%20con%20ellos%20.%20(X2)

%20%20%20%20%20%20%20%20%20%20%20%20(%20MYKE%20TOWERS)%20
Nunca%20pienses%20ni%20que%20es%20tuya%20porque%20ella%20es%20parte%20del%20juego%20,%20esto%20es%20un%20come%20y%20vete%20mi%20amor%20nos%20vemos%20luego%20,%20yo%20en%20mujeres%20no%20confÃ­o%20a%20ninguna%20le%20ruego%20te%20esta%20haciendo%20lucir%20mal%20manito%20yo%20que%20tÃº%20ruedo%20Compa!%20Yo%20se%20que%20aveces%20uno%20pila%20te%20monta%20,%20pero%20con%20lo%20que%20tÃº%20le%20sueltas%20no%20le%20da%20Pa%20irse%20de%20compras%20.

Ella%20busca%20alguien%20que%20la%20opicieâ%20a%20mi%20no%20hay%20cuero%20que%20me%20aficieâ%20en%20el%20fondo%20no%20son%20como%20en%20la%20superficie%20,%20te%20advertÃ­%20que%20si%20la%20ibas%20a%20postear%20que%20no%20la%20tegueara%20...%20tenÃ­a%20mis%20sospechas%20pero%20no%20sabÃ­a%20que%20era%20tan%20mala%20.%20Ahora%20tiene%20una%20amiga%20nueva%20una%20tal%20âTamaraâ%20cuando%20ignoran%20Tus%20llamadas%20se%20rÃ­en%20a%20carcajadas.

Metele%20si%20quiere%20pero%20...%20no%20lo%20hagas%20publico%20CABRON%20tÃº%20cree%20que%20tÃº%20vaâ%20ser%20el%20Ãºnico%20?%20Que%20es%20lo%20que%20tÃº%20quiere%20que%20en%20la%20esquina%20a%20ti%20te%20digan%20el%20Venaoâ%20hasta%20en%20carro%20de%20otro%20hombre%20te%20a%20frenaoâ.

%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20(Coro%20nicki%20Nicole)
%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20
Yo%20no%20tuya%20te%20vendo%20suelo%20...%20sabes%20que%20no%20tengo%20dueÃ±o%20cuando%20estoy%20contigo%20eâ%20lo%20ma%20bello%20.%20(%20Como..?%20)%20lo%20mismo%20que%20hace%20con%20ellos%20.%20Y%20ella%20no%20es%20tuya%20te%20vendiÃ³%20sueÃ±o%20...%20dice%20que%20no%20tiene%20dueÃ±o%20cuando%20estÃ¡%20contigo%20eso%20e%20lo%20mÃ¡s%20bello%20lo%20mismo%20que%20hace%20con%20ellos%20...

%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20(NICKI%20NICOLE)
NiÃ±o%20...%20cuantas%20veces%20tengo%20lo%20tengo%20que%20repetir%20?%20Yo%20no%20soy%20mujer%20de%20nadie%20asÃ­%20que%20cambia%20el%20frenesÃ­%20,%20yo%20jamÃ¡s%20...%20te%20dije%20que%20si%20asÃ­%20que%20calla%20ya%20tÃº%20boca%20y%20deja%20de%20hablar%20de%20mi%20.

Una%20cita%20contigo%20,%20si%20quiere%20llÃ¡mame%20y%20voy%20pero%20no%20taguee%20por%20favor%20,%20que%20no%20tengo%20tiempo%20Pa%20tÃº%20historita...%20

Se%20pasa%20jodiendo%20Pa%20â%20que%20te%20dÃ©%20follower%20quiere%20algo%20serio%20yo%20quiero%20jugar%20,%20quiera%20o%20no%20quiera%20te%20tengo%20en%20mi%20manos%20Diablo%20tÃº%20taâ%20loco%20engualichaoâ%20en%20mi%20cuerpo%20vicioao%20â%20no%20puede%20salir%20de%20esto%20,%20Taâ%20buscando%20salida%20..%20se%20perdiÃ³%20en%20los%20exceso....
Yo%20no%20soy%20tuya%20te%20vendo%20sueÃ±o...%20sabes%20que%20no%20tengo%20dueÃ±o%20cuando%20estoy%20contigo%20e%20âlo%20mÃ¡s%20bello%20..%20(como%20?%20)%20lo%20mismo%20que%20hago%20con%20ellos%20....%20

%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20(Coro)
Ella%20no%20es%20tuya%20,%20te%20vendiÃ³%20sueÃ±o%20â%20dice%20que%20no%20tiene%20dueÃ±o%20cuando%20estÃ¡%20contigo%20eâ%20lo%20mÃ¡s%20bello%20,%20lo%20mismo%20que%20hace%20con%20ellos%20.%20(X2)
%20
%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20(%20ROCHYRD%20)%20

CompaÃ±ero%20lo%20intentÃ©%20,%20pero%20con%20Ã©l%20no%20se%20puede%20..%20%20el%20Taâ%20pagando%20algo%20hay%20que%20dejarlo%20ya%20eso%20eâ%20que%20lo%20debe%20,%20al%20nivel%20que%20uno%20estÃ¡%20a%20quemarse%20con%20un%20leder%20si%20la%20feria%20no%20circula%20voy%20â%20que%20dobla%20y%20se%20te%20mueve.....%20

Va%20seguÃ­%20?%20La%20que%20tiene%20mÃ¡s%20primo%20no%20e%20de%20boca%20tiguerones%20hemos%20pasado%20por%20lo%20mismo%20.%20
En%20sentimiento%20uno%20deja%20que%20un%20cuero%20le%20dÃ©%20cariÃ±o%20esa%20mujer%20te%20utilizo%20te%20vendiÃ³%20sueÃ±o%20como%20un%20niÃ±o%20,%20cuando%20veo%20ese%20sistema%20,%20en%20realidad%20hasta%20me%20quillo%20tÃº%20nÃºmero%20callejero%20quedan%20atrÃ¡s%20como%20un%20cepillo%20...
Te%20hicieron%20una%20â%20Kuikaâ%20BALBARO,%20con%20Photoshop%20vÃ©te%20a%20Juicio%20a%20fondo%20y%20tÃº%20verÃ¡%20que%20eso%20se%20detonÃ³.%20Mono%20se%20le%20advirtiÃ³%20pero%20se%20espantÃ³%20lo%20cromo%20el%20miedo%20mÃ­o%20es%20que%20la%20mate%20ahÃ­%20si%20la%20vuelta%20es%20un%20bobo%20.

Te%20usÃ©%20a%20ti%20Pa%20el%20video%20pero%20todo%20fue%20un%20mediante%20y%20ni%20aun%20asÃ­%20se%20le%20llevÃ³%20se%20noâ%20frizÃ³%20y%20quiere%20ser%20gÃ¡nster%20.%20

%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20(Coro)
Ella%20no%20es%20tuya%20,%20te%20vendiÃ³%20sueÃ±o%20â%20dice%20que%20no%20tiene%20dueÃ±o%20cuando%20estÃ¡%20contigo%20eâ%20lo%20mÃ¡s%20bello%20,%20lo%20mismo%20que%20hace%20con%20ellos%20.%20(X2)

Rochy%20RD%20reÃºne%20a%20Myke%20Towers%20y%20a%20Nicki%20Nicole%20en%20el%20remix%20de%20âElla%20No%20Es%20Tuyaâ

Alexandra%20Hatcu%20es%20la%20protagonista%20del%20video%20clip%20oficial%20.' with link or location/anchor > 2079 characters since it exceeds Excel's limit for URLS
  warn("Ignoring URL '%s' with link or location/anchor > %d "

In [21]:
df7 = pd.read_excel(r"C:\Users\Roshan B\Desktop\ML\Dataset\Tracks.xlsx")

In [22]:
df7.value_counts('Artist')

Artist
$NOT                 10
Outkast              10
No Te Va Gustar      10
No Doubt             10
Nko                  10
                     ..
NewJeans              6
Shubh                 6
Jimin                 3
Bootie Brown          1
Stars Music Chile     1
Length: 2079, dtype: int64

In [23]:
df7.shape

(20718, 29)

In [24]:
df7

,Unnamed: 0.1,Unnamed: 0,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,...,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream
0,0,0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,...,https://www.youtube.com/watch?v=HyHNuVaZJ-k,Gorillaz - Feel Good Inc. (Official Video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,1.0,1.0,1.040235e+09
1,1,1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,...,https://www.youtube.com/watch?v=yYDmaexVHic,Gorillaz - Rhinestone Eyes [Storyboard Film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,1.0,1.0,3.100837e+08
2,2,2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,...,https://www.youtube.com/watch?v=qJa-VFwPpYA,Gorillaz - New Gold ft. Tame Impala & Bootie B...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,1.0,1.0,6.306347e+07
3,3,3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,...,https://www.youtube.com/watch?v=04mfKJWDSzI,Gorillaz - On Melancholy Hill (Official Video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,1.0,1.0,4.346636e+08
4,4,4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,...,https://www.youtube.com/watch?v=1V_xRb0x9aw,Gorillaz - Clint Eastwood (Official Video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,1.0,1.0,6.172597e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20713,20713,20713,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,single,spotify:track:0RtcKQGyI4hr8FgFH1TuYG,0.582,0.926,...,https://www.youtube.com/watch?v=5SHmKFKlNqI,JUST DANCE HARDSTYLE,SICK LEGEND - Topic,71678.0,1113.0,0.0,Provided to YouTube by Routenote\n\nJUST DANCE...,1.0,1.0,9.227144e+06
20714,20714,20714,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,single,spotify:track:3rHvPA8lUnPBkaLyPOc0VV,0.531,0.936,...,https://www.youtube.com/watch?v=ocTH6KxllDQ,SET FIRE TO THE RAIN HARDSTYLE,SICK LEGEND - Topic,164741.0,2019.0,0.0,Provided to YouTube by Routenote\n\nSET FIRE T...,1.0,1.0,1.089818e+07
20715,20715,20715,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,single,spotify:track:4jk00YxPtPbhvHJE9N4ddv,0.443,0.830,...,https://www.youtube.com/watch?v=5wFhE-HY0hg,OUTSIDE HARDSTYLE SPED UP,SICK LEGEND - Topic,35646.0,329.0,0.0,Provided to YouTube by Routenote\n\nOUTSIDE HA...,1.0,1.0,6.226110e+06
20716,20716,20716,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,single,spotify:track:5EyErbpsugWliX006eTDex,0.417,0.767,...,https://www.youtube.com/watch?v=VMFLbFRNCn0,ONLY GIRL HARDSTYLE,SICK LEGEND - Topic,6533.0,88.0,0.0,Provided to YouTube by Routenote\n\nONLY GIRL ...,1.0,1.0,6.873961e+06
20717,20717,20717,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,single,spotify:track:6lOn0jz1QpjcWeXo1oMm0k,0.498,0.938,...,https://www.youtube.com/watch?v=zau0dckCFi0,MISS YOU HARDSTYLE,SICK LEGEND - Topic,158697.0,2484.0,0.0,Provided to YouTube by Routenote\n\nMISS YOU H...,1.0,1.0,5.695584e+06

In [25]:
df7.Track

0                                       Feel Good Inc.
1                                      Rhinestone Eyes
2        New Gold (feat. Tame Impala and Bootie Brown)
3                                   On Melancholy Hill
4                                       Clint Eastwood
                             ...
20713                             JUST DANCE HARDSTYLE
20714                   SET FIRE TO THE RAIN HARDSTYLE
20715                        OUTSIDE HARDSTYLE SPED UP
20716                              ONLY GIRL HARDSTYLE
20717                               MISS YOU HARDSTYLE
Name: Track, Length: 20718, dtype: object

In [26]:
df7.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Artist', 'Url_spotify', 'Track', 'Album',
       'Album_type', 'Uri', 'Danceability', 'Energy', 'Key', 'Loudness',
       'Speechiness', 'Acousticness', 'Instrumentalness', 'Liveness',
       'Valence', 'Tempo', 'Duration_ms', 'Url_youtube', 'Title', 'Channel',
       'Views', 'Likes', 'Comments', 'Description', 'Licensed',
       'official_video', 'Stream'],
      dtype='object')

In [27]:
df7[['Unnamed: 0.1','Track','Album','Energy','Channel']]

,Unnamed: 0.1,Track,Album,Energy,Channel
0,0,Feel Good Inc.,Demon Days,0.705,Gorillaz
1,1,Rhinestone Eyes,Plastic Beach,0.703,Gorillaz
2,2,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),0.923,Gorillaz
3,3,On Melancholy Hill,Plastic Beach,0.739,Gorillaz
4,4,Clint Eastwood,Gorillaz,0.694,Gorillaz
...,...,...,...,...,...
20713,20713,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,0.926,SICK LEGEND - Topic
20714,20714,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,0.936,SICK LEGEND - Topic
20715,20715,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,0.830,SICK LEGEND - Topic
20716,20716,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,0.767,SICK LEGEND - Topic
20717,20717,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,0.938,SICK LEGEND - Topic

In [28]:
df7['value'] = 100

In [29]:
df7

,Unnamed: 0.1,Unnamed: 0,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,...,Title,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream,value
0,0,0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,...,Gorillaz - Feel Good Inc. (Official Video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,1.0,1.0,1.040235e+09,100
1,1,1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,...,Gorillaz - Rhinestone Eyes [Storyboard Film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,1.0,1.0,3.100837e+08,100
2,2,2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,...,Gorillaz - New Gold ft. Tame Impala & Bootie B...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,1.0,1.0,6.306347e+07,100
3,3,3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,...,Gorillaz - On Melancholy Hill (Official Video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,1.0,1.0,4.346636e+08,100
4,4,4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,...,Gorillaz - Clint Eastwood (Official Video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,1.0,1.0,6.172597e+08,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20713,20713,20713,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,single,spotify:track:0RtcKQGyI4hr8FgFH1TuYG,0.582,0.926,...,JUST DANCE HARDSTYLE,SICK LEGEND - Topic,71678.0,1113.0,0.0,Provided to YouTube by Routenote\n\nJUST DANCE...,1.0,1.0,9.227144e+06,100
20714,20714,20714,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,single,spotify:track:3rHvPA8lUnPBkaLyPOc0VV,0.531,0.936,...,SET FIRE TO THE RAIN HARDSTYLE,SICK LEGEND - Topic,164741.0,2019.0,0.0,Provided to YouTube by Routenote\n\nSET FIRE T...,1.0,1.0,1.089818e+07,100
20715,20715,20715,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,single,spotify:track:4jk00YxPtPbhvHJE9N4ddv,0.443,0.830,...,OUTSIDE HARDSTYLE SPED UP,SICK LEGEND - Topic,35646.0,329.0,0.0,Provided to YouTube by Routenote\n\nOUTSIDE HA...,1.0,1.0,6.226110e+06,100
20716,20716,20716,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,single,spotify:track:5EyErbpsugWliX006eTDex,0.417,0.767,...,ONLY GIRL HARDSTYLE,SICK LEGEND - Topic,6533.0,88.0,0.0,Provided to YouTube by Routenote\n\nONLY GIRL ...,1.0,1.0,6.873961e+06,100
20717,20717,20717,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,single,spotify:track:6lOn0jz1QpjcWeXo1oMm0k,0.498,0.938,...,MISS YOU HARDSTYLE,SICK LEGEND - Topic,158697.0,2484.0,0.0,Provided to YouTube by Routenote\n\nMISS YOU H...,1.0,1.0,5.695584e+06,100

In [30]:
import datetime

In [31]:
df7['Last_Update'] = datetime.datetime.now()

In [32]:
df7

,Unnamed: 0.1,Unnamed: 0,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,...,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream,value,Last_Update
0,0,0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,...,Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,1.0,1.0,1.040235e+09,100,2023-04-13 10:06:39.655065
1,1,1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,1.0,1.0,3.100837e+08,100,2023-04-13 10:06:39.655065
2,2,2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,1.0,1.0,6.306347e+07,100,2023-04-13 10:06:39.655065
3,3,3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,...,Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,1.0,1.0,4.346636e+08,100,2023-04-13 10:06:39.655065
4,4,4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,...,Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,1.0,1.0,6.172597e+08,100,2023-04-13 10:06:39.655065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20713,20713,20713,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,single,spotify:track:0RtcKQGyI4hr8FgFH1TuYG,0.582,0.926,...,SICK LEGEND - Topic,71678.0,1113.0,0.0,Provided to YouTube by Routenote\n\nJUST DANCE...,1.0,1.0,9.227144e+06,100,2023-04-13 10:06:39.655065
20714,20714,20714,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,single,spotify:track:3rHvPA8lUnPBkaLyPOc0VV,0.531,0.936,...,SICK LEGEND - Topic,164741.0,2019.0,0.0,Provided to YouTube by Routenote\n\nSET FIRE T...,1.0,1.0,1.089818e+07,100,2023-04-13 10:06:39.655065
20715,20715,20715,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,single,spotify:track:4jk00YxPtPbhvHJE9N4ddv,0.443,0.830,...,SICK LEGEND - Topic,35646.0,329.0,0.0,Provided to YouTube by Routenote\n\nOUTSIDE HA...,1.0,1.0,6.226110e+06,100,2023-04-13 10:06:39.655065
20716,20716,20716,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,single,spotify:track:5EyErbpsugWliX006eTDex,0.417,0.767,...,SICK LEGEND - Topic,6533.0,88.0,0.0,Provided to YouTube by Routenote\n\nONLY GIRL ...,1.0,1.0,6.873961e+06,100,2023-04-13 10:06:39.655065
20717,20717,20717,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,single,spotify:track:6lOn0jz1QpjcWeXo1oMm0k,0.498,0.938,...,SICK LEGEND - Topic,158697.0,2484.0,0.0,Provided to YouTube by Routenote\n\nMISS YOU H...,1.0,1.0,5.695584e+06,100,2023-04-13 10:06:39.655065

In [33]:
df7

,Unnamed: 0.1,Unnamed: 0,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,...,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream,value,Last_Update
0,0,0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,...,Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,1.0,1.0,1.040235e+09,100,2023-04-13 10:06:39.655065
1,1,1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,1.0,1.0,3.100837e+08,100,2023-04-13 10:06:39.655065
2,2,2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,1.0,1.0,6.306347e+07,100,2023-04-13 10:06:39.655065
3,3,3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,...,Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,1.0,1.0,4.346636e+08,100,2023-04-13 10:06:39.655065
4,4,4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,...,Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,1.0,1.0,6.172597e+08,100,2023-04-13 10:06:39.655065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20713,20713,20713,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,single,spotify:track:0RtcKQGyI4hr8FgFH1TuYG,0.582,0.926,...,SICK LEGEND - Topic,71678.0,1113.0,0.0,Provided to YouTube by Routenote\n\nJUST DANCE...,1.0,1.0,9.227144e+06,100,2023-04-13 10:06:39.655065
20714,20714,20714,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,single,spotify:track:3rHvPA8lUnPBkaLyPOc0VV,0.531,0.936,...,SICK LEGEND - Topic,164741.0,2019.0,0.0,Provided to YouTube by Routenote\n\nSET FIRE T...,1.0,1.0,1.089818e+07,100,2023-04-13 10:06:39.655065
20715,20715,20715,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,single,spotify:track:4jk00YxPtPbhvHJE9N4ddv,0.443,0.830,...,SICK LEGEND - Topic,35646.0,329.0,0.0,Provided to YouTube by Routenote\n\nOUTSIDE HA...,1.0,1.0,6.226110e+06,100,2023-04-13 10:06:39.655065
20716,20716,20716,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,single,spotify:track:5EyErbpsugWliX006eTDex,0.417,0.767,...,SICK LEGEND - Topic,6533.0,88.0,0.0,Provided to YouTube by Routenote\n\nONLY GIRL ...,1.0,1.0,6.873961e+06,100,2023-04-13 10:06:39.655065
20717,20717,20717,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,single,spotify:track:6lOn0jz1QpjcWeXo1oMm0k,0.498,0.938,...,SICK LEGEND - Topic,158697.0,2484.0,0.0,Provided to YouTube by Routenote\n\nMISS YOU H...,1.0,1.0,5.695584e+06,100,2023-04-13 10:06:39.655065

In [34]:
df8 = df7[['Artist','Track','Album','Last_Update']]

In [35]:
df8

,Artist,Track,Album,Last_Update
0,Gorillaz,Feel Good Inc.,Demon Days,2023-04-13 10:06:39.655065
1,Gorillaz,Rhinestone Eyes,Plastic Beach,2023-04-13 10:06:39.655065
2,Gorillaz,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),2023-04-13 10:06:39.655065
3,Gorillaz,On Melancholy Hill,Plastic Beach,2023-04-13 10:06:39.655065
4,Gorillaz,Clint Eastwood,Gorillaz,2023-04-13 10:06:39.655065
...,...,...,...,...
20713,SICK LEGEND,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,2023-04-13 10:06:39.655065
20714,SICK LEGEND,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,2023-04-13 10:06:39.655065
20715,SICK LEGEND,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,2023-04-13 10:06:39.655065
20716,SICK LEGEND,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,2023-04-13 10:06:39.655065
20717,SICK LEGEND,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,2023-04-13 10:06:39.655065

In [36]:
df9 = pd.read_csv(r"C:\Users\Roshan B\Desktop\ML\Dataset\Ecommerce Customers.csv")

In [37]:
df9

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620146
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [38]:
df10 = df9[['Email','Avatar','Time on App','Yearly Amount Spent']]

In [39]:
df10

,Email,Avatar,Time on App,Yearly Amount Spent
0,mstephenson@fernandez.com,Violet,12.655651,587.951054
1,hduke@hotmail.com,DarkGreen,11.109461,392.204933
2,pallen@yahoo.com,Bisque,11.330278,487.547505
3,riverarebecca@gmail.com,SaddleBrown,13.717514,581.852344
4,mstephens@davidson-herman.com,MediumAquaMarine,12.795189,599.406092
...,...,...,...,...
495,lewisjessica@craig-evans.com,Tan,13.566160,573.847438
496,katrina56@gmail.com,PaleVioletRed,11.695736,529.049004
497,dale88@hotmail.com,Cornsilk,11.499409,551.620146
498,cwilson@hotmail.com,Teal,12.391423,456.469510
499,hannahwilson@davidson.com,DarkMagenta,12.418808,497.778642

In [40]:
df10['Name'] = df10['Email'].apply(lambda x:x.split('@')[0])

C:\Users\Roshan B\AppData\Local\Temp\ipykernel_11880\3478377088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10['Name'] = df10['Email'].apply(lambda x:x.split('@')[0])

In [41]:
df10

,Email,Avatar,Time on App,Yearly Amount Spent,Name
0,mstephenson@fernandez.com,Violet,12.655651,587.951054,mstephenson
1,hduke@hotmail.com,DarkGreen,11.109461,392.204933,hduke
2,pallen@yahoo.com,Bisque,11.330278,487.547505,pallen
3,riverarebecca@gmail.com,SaddleBrown,13.717514,581.852344,riverarebecca
4,mstephens@davidson-herman.com,MediumAquaMarine,12.795189,599.406092,mstephens
...,...,...,...,...,...
495,lewisjessica@craig-evans.com,Tan,13.566160,573.847438,lewisjessica
496,katrina56@gmail.com,PaleVioletRed,11.695736,529.049004,katrina56
497,dale88@hotmail.com,Cornsilk,11.499409,551.620146,dale88
498,cwilson@hotmail.com,Teal,12.391423,456.469510,cwilson
499,hannahwilson@davidson.com,DarkMagenta,12.418808,497.778642,hannahwilson

In [42]:
df10['Monthly_Amount_Spent'] = df10['Yearly Amount Spent'].apply(lambda x:x/12)

C:\Users\Roshan B\AppData\Local\Temp\ipykernel_11880\3327198440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10['Monthly_Amount_Spent'] = df10['Yearly Amount Spent'].apply(lambda x:x/12)

In [43]:
df10

,Email,Avatar,Time on App,Yearly Amount Spent,Name,Monthly_Amount_Spent
0,mstephenson@fernandez.com,Violet,12.655651,587.951054,mstephenson,48.995921
1,hduke@hotmail.com,DarkGreen,11.109461,392.204933,hduke,32.683744
2,pallen@yahoo.com,Bisque,11.330278,487.547505,pallen,40.628959
3,riverarebecca@gmail.com,SaddleBrown,13.717514,581.852344,riverarebecca,48.487695
4,mstephens@davidson-herman.com,MediumAquaMarine,12.795189,599.406092,mstephens,49.950508
...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,Tan,13.566160,573.847438,lewisjessica,47.820620
496,katrina56@gmail.com,PaleVioletRed,11.695736,529.049004,katrina56,44.087417
497,dale88@hotmail.com,Cornsilk,11.499409,551.620146,dale88,45.968345
498,cwilson@hotmail.com,Teal,12.391423,456.469510,cwilson,38.039126
499,hannahwilson@davidson.com,DarkMagenta,12.418808,497.778642,hannahwilson,41.481554

In [94]:
df11 = pd.read_csv(r"C:\Users\Roshan B\Desktop\ML\Dataset\titanic.csv")

In [95]:
df11

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [46]:
# Encoding by using lambda function

In [47]:
df11['Encode_New_Gender'] = df11['Sex'].apply(lambda x: 1 if x == 'male' else 0)

In [48]:
df11

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Encode_New_Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1

In [49]:
# Encoding by using Map function

In [50]:
df11['Map_New_Gender'] = df11['Sex'].map({'male':1,'female':0})

In [51]:
df11

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Encode_New_Gender,Map_New_Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1,1

In [52]:
# Encoding by using Normal function

In [53]:
def encode(x):
    if x == 'male':
        return 1
    else:
        return 0

In [54]:
df11['Encode_Normal_Gender'] = df11['Sex'].apply(encode)

In [55]:
df11

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Encode_New_Gender,Map_New_Gender,Encode_Normal_Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,1,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1,1,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,0,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,1,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1,1,1

In [56]:
# Delete Column from DataFrame

In [57]:
df11.drop('SibSp',axis=1,inplace = True)     # Sibsp Column delete from df11 DataFrame,inplace means change to original

In [58]:
df11

,PassengerId,Survived,Pclass,Name,Sex,Age,Parch,Ticket,Fare,Cabin,Embarked,Encode_New_Gender,Map_New_Gender,Encode_Normal_Gender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,0,A/5 21171,7.2500,NaN,S,1,1,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,0,PC 17599,71.2833,C85,C,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,0,113803,53.1000,C123,S,0,0,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,373450,8.0500,NaN,S,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,211536,13.0000,NaN,S,1,1,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,112053,30.0000,B42,S,0,0,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,2,W./C. 6607,23.4500,NaN,S,0,0,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,111369,30.0000,C148,C,1,1,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,370376,7.7500,NaN,Q,1,1,1

In [59]:
# Delete Multiple Column from DataFrame

In [60]:
df11.drop(columns = ["Encode_New_Gender","Map_New_Gender","Encode_Normal_Gender"],axis = 1, inplace = True)

In [61]:
df11

,PassengerId,Survived,Pclass,Name,Sex,Age,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,370376,7.7500,NaN,Q

In [62]:
# fetch Null values

In [63]:
df11.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,True,False

In [64]:
df11.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [65]:
df11['Cabin'].unique()   # fetch Unique values

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [66]:
df11

,PassengerId,Survived,Pclass,Name,Sex,Age,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,370376,7.7500,NaN,Q

In [68]:
df11['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [69]:
emp_list = {
    'emp_id' : [1,2,3,4,5],
    'emp_name':['Roshan','Ajay','Mohan','Kamal','Rahul'],
    'Dept':['Engg','Design','HR','Purchase','Quality'],
    'DOJ':['17/10/2010','05/06/2015','14/02/2008','18/01/2020','04/09/2000']
}

In [70]:
df12 = pd.DataFrame(emp_list)

In [71]:
df12

   emp_id emp_name      Dept         DOJ
0       1   Roshan      Engg  17/10/2010
1       2     Ajay    Design  05/06/2015
2       3    Mohan        HR  14/02/2008
3       4    Kamal  Purchase  18/01/2020
4       5    Rahul   Quality  04/09/2000

In [72]:
df12['Date'] = df12['DOJ'].apply(lambda x:x.split('/')[0])

In [75]:
df12

   emp_id emp_name      Dept         DOJ Date Month
0       1   Roshan      Engg  17/10/2010   17    10
1       2     Ajay    Design  05/06/2015   05    06
2       3    Mohan        HR  14/02/2008   14    02
3       4    Kamal  Purchase  18/01/2020   18    01
4       5    Rahul   Quality  04/09/2000   04    09

In [74]:
df12['Month'] = df12['DOJ'].apply(lambda x:x.split('/')[1])

In [76]:
df12['Year'] = df12['DOJ'].apply(lambda x:x.split('/')[2])

In [77]:
df12

   emp_id emp_name      Dept         DOJ Date Month  Year
0       1   Roshan      Engg  17/10/2010   17    10  2010
1       2     Ajay    Design  05/06/2015   05    06  2015
2       3    Mohan        HR  14/02/2008   14    02  2008
3       4    Kamal  Purchase  18/01/2020   18    01  2020
4       5    Rahul   Quality  04/09/2000   04    09  2000

In [78]:
df12['Salary'] = 45000

In [79]:
df12

   emp_id emp_name      Dept         DOJ Date Month  Year  Salary
0       1   Roshan      Engg  17/10/2010   17    10  2010   45000
1       2     Ajay    Design  05/06/2015   05    06  2015   45000
2       3    Mohan        HR  14/02/2008   14    02  2008   45000
3       4    Kamal  Purchase  18/01/2020   18    01  2020   45000
4       5    Rahul   Quality  04/09/2000   04    09  2000   45000

In [83]:
df12['DOJ'].unique()

array(['17/10/2010', '05/06/2015', '14/02/2008', '18/01/2020',
       '04/09/2000'], dtype=object)

In [91]:
df11.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [88]:
df11.dropna(inplace = True)

In [89]:
df11.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [96]:
df11.shape

(891, 12)

In [98]:
df11.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [101]:
df13 = df11.fillna(0)

In [102]:
df11.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [104]:
df13.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [105]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [108]:
df13.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [109]:
df13['Age'] = df13['Age'].astype('int64')

In [113]:
df13.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age              int64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object